<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Defense000</key>
	<string>Shield</string>
	<key>Defense001</key>
	<string>Blank Stare</string>
	<key>Defense002</key>
	<string>Force Field</string>
	<key>Defense003</key>
	<string>Quick Duck</string>
	<key>Defense004</key>
	<string>Dodge</string>
	<key>Defense005</key>
	<string>Mental Wall</string>
	<key>Defense006</key>
	<string>Stand Ground</string>
	<key>Defense007</key>
	<string>Cloak</string>
	<key>Defense008</key>
	<string>Double U</string>
	<key>Defense009</key>
	<string>No Mind</string>
	<key>Defense010</key>
	<string>Doing A Dance</string>
	<key>Defense011</key>
	<string>Invisiguard</string>
	<key>Defense012</key>
	<string>Electrical Lines</string>
	<key>Defense013</key>
	<string>Gusto Wind</string>
	<key>Defense014</key>
	<string>Imaginary Flight</string>
	<key>Defense015</key>
	<string>Ropes</string>
	<key>Defense016</key>
	<string>Fake Target</string>
	<key>Defense017</key>
	<string>Cloudy Mind</string>
	<key>Defense018</key>
	<string>Hunker Down</string>
	<key>Defense019</key>
	<string>Jump</string>
	<key>Defense020</key>
	<string>Turtle Shell</string>
	<key>Defense021</key>
	<string>Evade</string>
	<key>Defense022</key>
	<string>Stonewall</string>
	<key>Defense023</key>
	<string>Limbo</string>
	<key>Defense024</key>
	<string>Fog Machine</string>
	<key>Defense025</key>
	<string>Possum</string>
	<key>Defense026</key>
	<string>Immune Boost</string>
	<key>Defense027</key>
	<string>Scribbly Boo</string>
	<key>Defense028</key>
	<string>Rainbow</string>
	<key>Defense029</key>
	<string>Shattering Glass</string>
	<key>Defense030</key>
	<string>Brute Force</string>
	<key>Defense031</key>
	<string>Setting Sun</string>
	<key>Defense032</key>
	<string>Backflip</string>
	<key>Defense033</key>
	<string>Crawl</string>
	<key>Defense034</key>
	<string>Shark Teeth</string>
	<key>Defense035</key>
	<string>Rocker</string>
	<key>Defense036</key>
	<string>The Claw</string>
	<key>Defense037</key>
	<string>Dizzy</string>
	<key>Defense038</key>
	<string>Whirlwind</string>
	<key>Defense039</key>
	<string>Deflect</string>
	<key>Number000_0</key>
	<integer>30</integer>
	<key>Number000_1</key>
	<integer>20</integer>
	<key>Number000_2</key>
	<integer>25</integer>
	<key>Number000_3</key>
	<integer>5</integer>
	<key>Number000_4</key>
	<integer>5</integer>
	<key>Number000_5</key>
	<integer>15</integer>
	<key>Number001_0</key>
	<integer>11</integer>
	<key>Number001_1</key>
	<integer>9</integer>
	<key>Number001_2</key>
	<integer>15</integer>
	<key>Number001_3</key>
	<integer>20</integer>
	<key>Number001_4</key>
	<integer>30</integer>
	<key>Number001_5</key>
	<integer>15</integer>
	<key>Number002_0</key>
	<integer>5</integer>
	<key>Number002_1</key>
	<integer>10</integer>
	<key>Number002_2</key>
	<integer>30</integer>
	<key>Number002_3</key>
	<integer>25</integer>
	<key>Number002_4</key>
	<integer>15</integer>
	<key>Number002_5</key>
	<integer>15</integer>
	<key>Number003_0</key>
	<integer>15</integer>
	<key>Number003_1</key>
	<integer>25</integer>
	<key>Number003_2</key>
	<integer>20</integer>
	<key>Number003_3</key>
	<integer>10</integer>
	<key>Number003_4</key>
	<integer>15</integer>
	<key>Number003_5</key>
	<integer>15</integer>
	<key>Number004_0</key>
	<integer>20</integer>
	<key>Number004_1</key>
	<integer>30</integer>
	<key>Number004_2</key>
	<integer>25</integer>
	<key>Number004_3</key>
	<integer>5</integer>
	<key>Number004_4</key>
	<integer>10</integer>
	<key>Number004_5</key>
	<integer>10</integer>
	<key>Number005_0</key>
	<integer>5</integer>
	<key>Number005_1</key>
	<integer>5</integer>
	<key>Number005_2</key>
	<integer>10</integer>
	<key>Number005_3</key>
	<integer>35</integer>
	<key>Number005_4</key>
	<integer>20</integer>
	<key>Number005_5</key>
	<integer>25</integer>
	<key>Number006_0</key>
	<integer>20</integer>
	<key>Number006_1</key>
	<integer>20</integer>
	<key>Number006_2</key>
	<integer>5</integer>
	<key>Number006_3</key>
	<integer>10</integer>
	<key>Number006_4</key>
	<integer>20</integer>
	<key>Number006_5</key>
	<integer>25</integer>
	<key>Number007_0</key>
	<integer>10</integer>
	<key>Number007_1</key>
	<integer>10</integer>
	<key>Number007_2</key>
	<integer>20</integer>
	<key>Number007_3</key>
	<integer>25</integer>
	<key>Number007_4</key>
	<integer>25</integer>
	<key>Number007_5</key>
	<integer>10</integer>
	<key>Number008_0</key>
	<integer>15</integer>
	<key>Number008_1</key>
	<integer>15</integer>
	<key>Number008_2</key>
	<integer>20</integer>
	<key>Number008_3</key>
	<integer>10</integer>
	<key>Number008_4</key>
	<integer>30</integer>
	<key>Number008_5</key>
	<integer>10</integer>
	<key>Number009_0</key>
	<integer>5</integer>
	<key>Number009_1</key>
	<integer>5</integer>
	<key>Number009_2</key>
	<integer>10</integer>
	<key>Number009_3</key>
	<integer>35</integer>
	<key>Number009_4</key>
	<integer>35</integer>
	<key>Number009_5</key>
	<integer>10</integer>
	<key>Number010_0</key>
	<integer>10</integer>
	<key>Number010_1</key>
	<integer>15</integer>
	<key>Number010_2</key>
	<integer>5</integer>
	<key>Number010_3</key>
	<integer>15</integer>
	<key>Number010_4</key>
	<integer>45</integer>
	<key>Number010_5</key>
	<integer>10</integer>
	<key>Number011_0</key>
	<integer>20</integer>
	<key>Number011_1</key>
	<integer>15</integer>
	<key>Number011_2</key>
	<integer>25</integer>
	<key>Number011_3</key>
	<integer>10</integer>
	<key>Number011_4</key>
	<integer>20</integer>
	<key>Number011_5</key>
	<integer>10</integer>
	<key>Number012_0</key>
	<integer>20</integer>
	<key>Number012_1</key>
	<integer>15</integer>
	<key>Number012_2</key>
	<integer>30</integer>
	<key>Number012_3</key>
	<integer>5</integer>
	<key>Number012_4</key>
	<integer>15</integer>
	<key>Number012_5</key>
	<integer>15</integer>
	<key>Number013_0</key>
	<integer>5</integer>
	<key>Number013_1</key>
	<integer>10</integer>
	<key>Number013_2</key>
	<integer>35</integer>
	<key>Number013_3</key>
	<integer>20</integer>
	<key>Number013_4</key>
	<integer>20</integer>
	<key>Number013_5</key>
	<integer>10</integer>
	<key>Number014_0</key>
	<integer>10</integer>
	<key>Number014_1</key>
	<integer>10</integer>
	<key>Number014_2</key>
	<integer>20</integer>
	<key>Number014_3</key>
	<integer>30</integer>
	<key>Number014_4</key>
	<integer>5</integer>
	<key>Number014_5</key>
	<integer>25</integer>
	<key>Number015_0</key>
	<integer>5</integer>
	<key>Number015_1</key>
	<integer>35</integer>
	<key>Number015_2</key>
	<integer>25</integer>
	<key>Number015_3</key>
	<integer>10</integer>
	<key>Number015_4</key>
	<integer>20</integer>
	<key>Number015_5</key>
	<integer>5</integer>
	<key>Number016_0</key>
	<integer>15</integer>
	<key>Number016_1</key>
	<integer>20</integer>
	<key>Number016_2</key>
	<integer>25</integer>
	<key>Number016_3</key>
	<integer>20</integer>
	<key>Number016_4</key>
	<integer>15</integer>
	<key>Number016_5</key>
	<integer>5</integer>
	<key>Number017_0</key>
	<integer>5</integer>
	<key>Number017_1</key>
	<integer>5</integer>
	<key>Number017_2</key>
	<integer>10</integer>
	<key>Number017_3</key>
	<integer>30</integer>
	<key>Number017_4</key>
	<integer>25</integer>
	<key>Number017_5</key>
	<integer>25</integer>
	<key>Number018_0</key>
	<integer>15</integer>
	<key>Number018_1</key>
	<integer>35</integer>
	<key>Number018_2</key>
	<integer>15</integer>
	<key>Number018_3</key>
	<integer>5</integer>
	<key>Number018_4</key>
	<integer>15</integer>
	<key>Number018_5</key>
	<integer>15</integer>
	<key>Number019_0</key>
	<integer>20</integer>
	<key>Number019_1</key>
	<integer>15</integer>
	<key>Number019_2</key>
	<integer>30</integer>
	<key>Number019_3</key>
	<integer>10</integer>
	<key>Number019_4</key>
	<integer>20</integer>
	<key>Number019_5</key>
	<integer>5</integer>
	<key>Number020_0</key>
	<integer>20</integer>
	<key>Number020_1</key>
	<integer>30</integer>
	<key>Number020_2</key>
	<integer>30</integer>
	<key>Number020_3</key>
	<integer>5</integer>
	<key>Number020_4</key>
	<integer>10</integer>
	<key>Number020_5</key>
	<integer>5</integer>
	<key>Number021_0</key>
	<integer>25</integer>
	<key>Number021_1</key>
	<integer>10</integer>
	<key>Number021_2</key>
	<integer>35</integer>
	<key>Number021_3</key>
	<integer>10</integer>
	<key>Number021_4</key>
	<integer>10</integer>
	<key>Number021_5</key>
	<integer>10</integer>
	<key>Number022_0</key>
	<integer>25</integer>
	<key>Number022_1</key>
	<integer>30</integer>
	<key>Number022_2</key>
	<integer>25</integer>
	<key>Number022_3</key>
	<integer>10</integer>
	<key>Number022_4</key>
	<integer>5</integer>
	<key>Number022_5</key>
	<integer>5</integer>
	<key>Number023_0</key>
	<integer>20</integer>
	<key>Number023_1</key>
	<integer>5</integer>
	<key>Number023_2</key>
	<integer>30</integer>
	<key>Number023_3</key>
	<integer>15</integer>
	<key>Number023_4</key>
	<integer>15</integer>
	<key>Number023_5</key>
	<integer>15</integer>
	<key>Number024_0</key>
	<integer>20</integer>
	<key>Number024_1</key>
	<integer>20</integer>
	<key>Number024_2</key>
	<integer>20</integer>
	<key>Number024_3</key>
	<integer>5</integer>
	<key>Number024_4</key>
	<integer>20</integer>
	<key>Number024_5</key>
	<integer>15</integer>
	<key>Number025_0</key>
	<integer>5</integer>
	<key>Number025_1</key>
	<integer>20</integer>
	<key>Number025_2</key>
	<integer>5</integer>
	<key>Number025_3</key>
	<integer>20</integer>
	<key>Number025_4</key>
	<integer>25</integer>
	<key>Number025_5</key>
	<integer>25</integer>
	<key>Number026_0</key>
	<integer>15</integer>
	<key>Number026_1</key>
	<integer>10</integer>
	<key>Number026_2</key>
	<integer>15</integer>
	<key>Number026_3</key>
	<integer>30</integer>
	<key>Number026_4</key>
	<integer>10</integer>
	<key>Number026_5</key>
	<integer>20</integer>
	<key>Number027_0</key>
	<integer>15</integer>
	<key>Number027_1</key>
	<integer>15</integer>
	<key>Number027_2</key>
	<integer>25</integer>
	<key>Number027_3</key>
	<integer>15</integer>
	<key>Number027_4</key>
	<integer>20</integer>
	<key>Number027_5</key>
	<integer>10</integer>
	<key>Number028_0</key>
	<integer>10</integer>
	<key>Number028_1</key>
	<integer>10</integer>
	<key>Number028_2</key>
	<integer>20</integer>
	<key>Number028_3</key>
	<integer>30</integer>
	<key>Number028_4</key>
	<integer>20</integer>
	<key>Number028_5</key>
	<integer>10</integer>
	<key>Number029_0</key>
	<integer>20</integer>
	<key>Number029_1</key>
	<integer>5</integer>
	<key>Number029_2</key>
	<integer>5</integer>
	<key>Number029_3</key>
	<integer>15</integer>
	<key>Number029_4</key>
	<integer>25</integer>
	<key>Number029_5</key>
	<integer>30</integer>
	<key>Number030_0</key>
	<integer>20</integer>
	<key>Number030_1</key>
	<integer>15</integer>
	<key>Number030_2</key>
	<integer>30</integer>
	<key>Number030_3</key>
	<integer>20</integer>
	<key>Number030_4</key>
	<integer>10</integer>
	<key>Number030_5</key>
	<integer>5</integer>
	<key>Number031_0</key>
	<integer>5</integer>
	<key>Number031_1</key>
	<integer>5</integer>
	<key>Number031_2</key>
	<integer>20</integer>
	<key>Number031_3</key>
	<integer>20</integer>
	<key>Number031_4</key>
	<integer>25</integer>
	<key>Number031_5</key>
	<integer>25</integer>
	<key>Number032_0</key>
	<integer>25</integer>
	<key>Number032_1</key>
	<integer>10</integer>
	<key>Number032_2</key>
	<integer>25</integer>
	<key>Number032_3</key>
	<integer>20</integer>
	<key>Number032_4</key>
	<integer>10</integer>
	<key>Number032_5</key>
	<integer>10</integer>
	<key>Number033_0</key>
	<integer>20</integer>
	<key>Number033_1</key>
	<integer>15</integer>
	<key>Number033_2</key>
	<integer>30</integer>
	<key>Number033_3</key>
	<integer>10</integer>
	<key>Number033_4</key>
	<integer>15</integer>
	<key>Number033_5</key>
	<integer>10</integer>
	<key>Number034_0</key>
	<integer>20</integer>
	<key>Number034_1</key>
	<integer>20</integer>
	<key>Number034_2</key>
	<integer>15</integer>
	<key>Number034_3</key>
	<integer>10</integer>
	<key>Number034_4</key>
	<integer>20</integer>
	<key>Number034_5</key>
	<integer>15</integer>
	<key>Number035_0</key>
	<integer>15</integer>
	<key>Number035_1</key>
	<integer>25</integer>
	<key>Number035_2</key>
	<integer>20</integer>
	<key>Number035_3</key>
	<integer>10</integer>
	<key>Number035_4</key>
	<integer>15</integer>
	<key>Number035_5</key>
	<integer>15</integer>
	<key>Number036_0</key>
	<integer>10</integer>
	<key>Number036_1</key>
	<integer>15</integer>
	<key>Number036_2</key>
	<integer>10</integer>
	<key>Number036_3</key>
	<integer>20</integer>
	<key>Number036_4</key>
	<integer>20</integer>
	<key>Number036_5</key>
	<integer>25</integer>
	<key>Number037_0</key>
	<integer>10</integer>
	<key>Number037_1</key>
	<integer>5</integer>
	<key>Number037_2</key>
	<integer>15</integer>
	<key>Number037_3</key>
	<integer>25</integer>
	<key>Number037_4</key>
	<integer>20</integer>
	<key>Number037_5</key>
	<integer>25</integer>
	<key>Number038_0</key>
	<integer>20</integer>
	<key>Number038_1</key>
	<integer>15</integer>
	<key>Number038_2</key>
	<integer>30</integer>
	<key>Number038_3</key>
	<integer>15</integer>
	<key>Number038_4</key>
	<integer>10</integer>
	<key>Number038_5</key>
	<integer>10</integer>
	<key>Number039_0</key>
	<integer>30</integer>
	<key>Number039_1</key>
	<integer>10</integer>
	<key>Number039_2</key>
	<integer>30</integer>
	<key>Number039_3</key>
	<integer>10</integer>
	<key>Number039_4</key>
	<integer>5</integer>
	<key>Number039_5</key>
	<integer>15</integer>
	<key>Count</key>
	<integer>40</integer>
</dict>
</plist>
