<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Number000_0</key>
	<integer>42</integer>
	<key>Number000_1</key>
	<integer>25</integer>
	<key>Number000_2</key>
	<integer>8</integer>
	<key>Number000_3</key>
	<integer>5</integer>
	<key>Number000_4</key>
	<integer>10</integer>
	<key>Number000_5</key>
	<integer>10</integer>
	<key>Number001_0</key>
	<integer>20</integer>
	<key>Number001_1</key>
	<integer>44</integer>
	<key>Number001_2</key>
	<integer>10</integer>
	<key>Number001_3</key>
	<integer>5</integer>
	<key>Number001_4</key>
	<integer>13</integer>
	<key>Number001_5</key>
	<integer>8</integer>
	<key>Number002_0</key>
	<integer>15</integer>
	<key>Number002_1</key>
	<integer>10</integer>
	<key>Number002_2</key>
	<integer>40</integer>
	<key>Number002_3</key>
	<integer>5</integer>
	<key>Number002_4</key>
	<integer>15</integer>
	<key>Number002_5</key>
	<integer>15</integer>
	<key>Number003_0</key>
	<integer>10</integer>
	<key>Number003_1</key>
	<integer>10</integer>
	<key>Number003_2</key>
	<integer>15</integer>
	<key>Number003_3</key>
	<integer>30</integer>
	<key>Number003_4</key>
	<integer>20</integer>
	<key>Number003_5</key>
	<integer>15</integer>
	<key>Number004_0</key>
	<integer>15</integer>
	<key>Number004_1</key>
	<integer>5</integer>
	<key>Number004_2</key>
	<integer>20</integer>
	<key>Number004_3</key>
	<integer>15</integer>
	<key>Number004_4</key>
	<integer>20</integer>
	<key>Number004_5</key>
	<integer>25</integer>
	<key>Number005_0</key>
	<integer>30</integer>
	<key>Number005_1</key>
	<integer>25</integer>
	<key>Number005_2</key>
	<integer>5</integer>
	<key>Number005_3</key>
	<integer>10</integer>
	<key>Number005_4</key>
	<integer>20</integer>
	<key>Number005_5</key>
	<integer>10</integer>
	<key>Number006_0</key>
	<integer>5</integer>
	<key>Number006_1</key>
	<integer>10</integer>
	<key>Number006_2</key>
	<integer>10</integer>
	<key>Number006_3</key>
	<integer>20</integer>
	<key>Number006_4</key>
	<integer>20</integer>
	<key>Number006_5</key>
	<integer>35</integer>
	<key>Number007_0</key>
	<integer>10</integer>
	<key>Number007_1</key>
	<integer>10</integer>
	<key>Number007_2</key>
	<integer>10</integer>
	<key>Number007_3</key>
	<integer>25</integer>
	<key>Number007_4</key>
	<integer>30</integer>
	<key>Number007_5</key>
	<integer>15</integer>
	<key>Number008_0</key>
	<integer>25</integer>
	<key>Number008_1</key>
	<integer>15</integer>
	<key>Number008_2</key>
	<integer>10</integer>
	<key>Number008_3</key>
	<integer>15</integer>
	<key>Number008_4</key>
	<integer>15</integer>
	<key>Number008_5</key>
	<integer>20</integer>
	<key>Number009_0</key>
	<integer>5</integer>
	<key>Number009_1</key>
	<integer>10</integer>
	<key>Number009_2</key>
	<integer>10</integer>
	<key>Number009_3</key>
	<integer>25</integer>
	<key>Number009_4</key>
	<integer>25</integer>
	<key>Number009_5</key>
	<integer>25</integer>
	<key>Number010_0</key>
	<integer>10</integer>
	<key>Number010_1</key>
	<integer>10</integer>
	<key>Number010_2</key>
	<integer>15</integer>
	<key>Number010_3</key>
	<integer>10</integer>
	<key>Number010_4</key>
	<integer>35</integer>
	<key>Number010_5</key>
	<integer>20</integer>
	<key>Number011_0</key>
	<integer>5</integer>
	<key>Number011_1</key>
	<integer>10</integer>
	<key>Number011_2</key>
	<integer>5</integer>
	<key>Number011_3</key>
	<integer>5</integer>
	<key>Number011_4</key>
	<integer>35</integer>
	<key>Number011_5</key>
	<integer>40</integer>
	<key>Number012_0</key>
	<integer>40</integer>
	<key>Number012_1</key>
	<integer>15</integer>
	<key>Number012_2</key>
	<integer>5</integer>
	<key>Number012_3</key>
	<integer>5</integer>
	<key>Number012_4</key>
	<integer>10</integer>
	<key>Number012_5</key>
	<integer>25</integer>
	<key>Number013_0</key>
	<integer>15</integer>
	<key>Number013_1</key>
	<integer>15</integer>
	<key>Number013_2</key>
	<integer>5</integer>
	<key>Number013_3</key>
	<integer>10</integer>
	<key>Number013_4</key>
	<integer>40</integer>
	<key>Number013_5</key>
	<integer>15</integer>
	<key>Number014_0</key>
	<integer>20</integer>
	<key>Number014_1</key>
	<integer>15</integer>
	<key>Number014_2</key>
	<integer>25</integer>
	<key>Number014_3</key>
	<integer>10</integer>
	<key>Number014_4</key>
	<integer>20</integer>
	<key>Number014_5</key>
	<integer>10</integer>
	<key>Number015_0</key>
	<integer>5</integer>
	<key>Number015_1</key>
	<integer>25</integer>
	<key>Number015_2</key>
	<integer>30</integer>
	<key>Number015_3</key>
	<integer>15</integer>
	<key>Number015_4</key>
	<integer>15</integer>
	<key>Number015_5</key>
	<integer>10</integer>
	<key>Number016_0</key>
	<integer>5</integer>
	<key>Number016_1</key>
	<integer>5</integer>
	<key>Number016_2</key>
	<integer>5</integer>
	<key>Number016_3</key>
	<integer>30</integer>
	<key>Number016_4</key>
	<integer>15</integer>
	<key>Number016_5</key>
	<integer>40</integer>
	<key>Number017_0</key>
	<integer>15</integer>
	<key>Number017_1</key>
	<integer>40</integer>
	<key>Number017_2</key>
	<integer>5</integer>
	<key>Number017_3</key>
	<integer>10</integer>
	<key>Number017_4</key>
	<integer>20</integer>
	<key>Number017_5</key>
	<integer>10</integer>
	<key>Number018_0</key>
	<integer>35</integer>
	<key>Number018_1</key>
	<integer>15</integer>
	<key>Number018_2</key>
	<integer>25</integer>
	<key>Number018_3</key>
	<integer>10</integer>
	<key>Number018_4</key>
	<integer>10</integer>
	<key>Number018_5</key>
	<integer>5</integer>
	<key>Number019_0</key>
	<integer>5</integer>
	<key>Number019_1</key>
	<integer>5</integer>
	<key>Number019_2</key>
	<integer>10</integer>
	<key>Number019_3</key>
	<integer>20</integer>
	<key>Number019_4</key>
	<integer>40</integer>
	<key>Number019_5</key>
	<integer>20</integer>
	<key>Number020_0</key>
	<integer>5</integer>
	<key>Number020_1</key>
	<integer>5</integer>
	<key>Number020_2</key>
	<integer>10</integer>
	<key>Number020_3</key>
	<integer>40</integer>
	<key>Number020_4</key>
	<integer>25</integer>
	<key>Number020_5</key>
	<integer>15</integer>
	<key>Number021_0</key>
	<integer>5</integer>
	<key>Number021_1</key>
	<integer>5</integer>
	<key>Number021_2</key>
	<integer>10</integer>
	<key>Number021_3</key>
	<integer>20</integer>
	<key>Number021_4</key>
	<integer>45</integer>
	<key>Number021_5</key>
	<integer>15</integer>
	<key>Number022_0</key>
	<integer>15</integer>
	<key>Number022_1</key>
	<integer>10</integer>
	<key>Number022_2</key>
	<integer>15</integer>
	<key>Number022_3</key>
	<integer>15</integer>
	<key>Number022_4</key>
	<integer>35</integer>
	<key>Number022_5</key>
	<integer>10</integer>
	<key>Number023_0</key>
	<integer>10</integer>
	<key>Number023_1</key>
	<integer>10</integer>
	<key>Number023_2</key>
	<integer>15</integer>
	<key>Number023_3</key>
	<integer>35</integer>
	<key>Number023_4</key>
	<integer>25</integer>
	<key>Number023_5</key>
	<integer>5</integer>
	<key>Number024_0</key>
	<integer>5</integer>
	<key>Number024_1</key>
	<integer>5</integer>
	<key>Number024_2</key>
	<integer>15</integer>
	<key>Number024_3</key>
	<integer>20</integer>
	<key>Number024_4</key>
	<integer>45</integer>
	<key>Number024_5</key>
	<integer>10</integer>
	<key>Number025_0</key>
	<integer>35</integer>
	<key>Number025_1</key>
	<integer>10</integer>
	<key>Number025_2</key>
	<integer>15</integer>
	<key>Number025_3</key>
	<integer>5</integer>
	<key>Number025_4</key>
	<integer>15</integer>
	<key>Number025_5</key>
	<integer>20</integer>
	<key>Number026_0</key>
	<integer>15</integer>
	<key>Number026_1</key>
	<integer>15</integer>
	<key>Number026_2</key>
	<integer>15</integer>
	<key>Number026_3</key>
	<integer>5</integer>
	<key>Number026_4</key>
	<integer>30</integer>
	<key>Number026_5</key>
	<integer>20</integer>
	<key>Number027_0</key>
	<integer>10</integer>
	<key>Number027_1</key>
	<integer>40</integer>
	<key>Number027_2</key>
	<integer>10</integer>
	<key>Number027_3</key>
	<integer>5</integer>
	<key>Number027_4</key>
	<integer>15</integer>
	<key>Number027_5</key>
	<integer>20</integer>
	<key>Number028_0</key>
	<integer>20</integer>
	<key>Number028_1</key>
	<integer>10</integer>
	<key>Number028_2</key>
	<integer>20</integer>
	<key>Number028_3</key>
	<integer>5</integer>
	<key>Number028_4</key>
	<integer>35</integer>
	<key>Number028_5</key>
	<integer>10</integer>
	<key>Number029_0</key>
	<integer>40</integer>
	<key>Number029_1</key>
	<integer>10</integer>
	<key>Number029_2</key>
	<integer>25</integer>
	<key>Number029_3</key>
	<integer>5</integer>
	<key>Number029_4</key>
	<integer>10</integer>
	<key>Number029_5</key>
	<integer>10</integer>
	<key>Number030_0</key>
	<integer>20</integer>
	<key>Number030_1</key>
	<integer>10</integer>
	<key>Number030_2</key>
	<integer>25</integer>
	<key>Number030_3</key>
	<integer>5</integer>
	<key>Number030_4</key>
	<integer>20</integer>
	<key>Number030_5</key>
	<integer>20</integer>
	<key>Number031_0</key>
	<integer>15</integer>
	<key>Number031_1</key>
	<integer>15</integer>
	<key>Number031_2</key>
	<integer>10</integer>
	<key>Number031_3</key>
	<integer>25</integer>
	<key>Number031_4</key>
	<integer>15</integer>
	<key>Number031_5</key>
	<integer>20</integer>
	<key>Number032_0</key>
	<integer>20</integer>
	<key>Number032_1</key>
	<integer>20</integer>
	<key>Number032_2</key>
	<integer>5</integer>
	<key>Number032_3</key>
	<integer>10</integer>
	<key>Number032_4</key>
	<integer>20</integer>
	<key>Number032_5</key>
	<integer>25</integer>
	<key>Number033_0</key>
	<integer>10</integer>
	<key>Number033_1</key>
	<integer>30</integer>
	<key>Number033_2</key>
	<integer>25</integer>
	<key>Number033_3</key>
	<integer>10</integer>
	<key>Number033_4</key>
	<integer>15</integer>
	<key>Number033_5</key>
	<integer>10</integer>
	<key>Number034_0</key>
	<integer>5</integer>
	<key>Number034_1</key>
	<integer>40</integer>
	<key>Number034_2</key>
	<integer>5</integer>
	<key>Number034_3</key>
	<integer>25</integer>
	<key>Number034_4</key>
	<integer>15</integer>
	<key>Number034_5</key>
	<integer>10</integer>
	<key>Number035_0</key>
	<integer>20</integer>
	<key>Number035_1</key>
	<integer>10</integer>
	<key>Number035_2</key>
	<integer>30</integer>
	<key>Number035_3</key>
	<integer>5</integer>
	<key>Number035_4</key>
	<integer>10</integer>
	<key>Number035_5</key>
	<integer>25</integer>
	<key>Number036_0</key>
	<integer>25</integer>
	<key>Number036_1</key>
	<integer>25</integer>
	<key>Number036_2</key>
	<integer>5</integer>
	<key>Number036_3</key>
	<integer>10</integer>
	<key>Number036_4</key>
	<integer>25</integer>
	<key>Number036_5</key>
	<integer>10</integer>
	<key>Number037_0</key>
	<integer>5</integer>
	<key>Number037_1</key>
	<integer>10</integer>
	<key>Number037_2</key>
	<integer>20</integer>
	<key>Number037_3</key>
	<integer>30</integer>
	<key>Number037_4</key>
	<integer>20</integer>
	<key>Number037_5</key>
	<integer>15</integer>
	<key>Number038_0</key>
	<integer>10</integer>
	<key>Number038_1</key>
	<integer>40</integer>
	<key>Number038_2</key>
	<integer>20</integer>
	<key>Number038_3</key>
	<integer>5</integer>
	<key>Number038_4</key>
	<integer>20</integer>
	<key>Number038_5</key>
	<integer>5</integer>
	<key>Number039_0</key>
	<integer>25</integer>
	<key>Number039_1</key>
	<integer>25</integer>
	<key>Number039_2</key>
	<integer>5</integer>
	<key>Number039_3</key>
	<integer>10</integer>
	<key>Number039_4</key>
	<integer>20</integer>
	<key>Number039_5</key>
	<integer>15</integer>
	<key>Weapon000</key>
	<string>Sword</string>
	<key>Weapon001</key>
	<string>Club</string>
	<key>Weapon002</key>
	<string>Arrow</string>
	<key>Weapon003</key>
	<string>Dragon Blast</string>
	<key>Weapon004</key>
	<string>Acid Rain</string>
	<key>Weapon005</key>
	<string>Lizard Whip</string>
	<key>Weapon006</key>
	<string>Potato Couch</string>
	<key>Weapon007</key>
	<string>Dozi</string>
	<key>Weapon008</key>
	<string>Ouchie</string>
	<key>Weapon009</key>
	<string>Heimdall&apos;s Trumpet</string>
	<key>Weapon010</key>
	<string>Fire Rays</string>
	<key>Weapon011</key>
	<string>Melti</string>
	<key>Weapon012</key>
	<string>Axe</string>
	<key>Weapon013</key>
	<string>Bedazzled</string>
	<key>Weapon014</key>
	<string>Spear</string>
	<key>Weapon015</key>
	<string>Falling Stars</string>
	<key>Weapon016</key>
	<string>Confuse</string>
	<key>Weapon017</key>
	<string>Deadly Rocks</string>
	<key>Weapon018</key>
	<string>Shards Of Glass</string>
	<key>Weapon019</key>
	<string>Water Storm</string>
	<key>Weapon020</key>
	<string>Brain Works</string>
	<key>Weapon021</key>
	<string>Froze</string>
	<key>Weapon022</key>
	<string>Staff</string>
	<key>Weapon023</key>
	<string>Poison</string>
	<key>Weapon024</key>
	<string>Blinding Light</string>
	<key>Weapon025</key>
	<string>Knife</string>
	<key>Weapon026</key>
	<string>Boom Patater</string>
	<key>Weapon027</key>
	<string>Morning Star</string>
	<key>Weapon028</key>
	<string>Snake Whip</string>
	<key>Weapon029</key>
	<string>Circular Saw Blade</string>
	<key>Weapon030</key>
	<string>Spike Ball</string>
	<key>Weapon031</key>
	<string>Mind Change</string>
	<key>Weapon032</key>
	<string>Hungrify</string>
	<key>Weapon033</key>
	<string>Meteor</string>
	<key>Weapon034</key>
	<string>Metal Pole</string>
	<key>Weapon035</key>
	<string>Ice Shards</string>
	<key>Weapon036</key>
	<string>Lightning Lance</string>
	<key>Weapon037</key>
	<string>Stranglid</string>
	<key>Weapon038</key>
	<string>Flattener</string>
	<key>Weapon039</key>
	<string>Axe Kick</string>
	<key>Count</key>
	<integer>40</integer>
</dict>
</plist>
